
.dj-bg{
	background: rgba(255,255,255,0.3);
	height: 100%;
}
.dj_top {
	height: 2.5rem;
	border-bottom: 1px solid white;
	line-height: 2.5rem;
	padding-left: 1rem;
	width: 100%;
}
.dj_top p{
	display: inline-block;
	margin-left: 3rem;
	float: left;
	color: #fff;
	font-family: "微软雅黑";
	font-size: .8rem;
}
input{
	color:#000000;
}
.pic {
	display: inline-block;
	width: 6rem;
	height: 6rem;
	text-align: center;
	color: #000000;
	line-height: 6rem;
	background: #fff;
}
.ee {
	display: inline-block;
	position: absolute;
	left: 9.5rem;
	z-index: 99;
	color: #000;
}
.ss{
	display: inline-block;
	position: absolute;
	opacity: 0;
}
.pic img {
	width: 100%; height: 100%;
	}
.zp{
	float: left;
}
.file{
	margin-left: 3.7rem;
}
.boss_prompt{
	width:0.55rem;
	height:0.6rem;
	margin-left:0.53rem;
	position:relative;
	top:1.3rem;
	float: left;
}
.boss_prompt:after{
	width:0.55rem;
	height:0.1rem;
	position:absolute;
	content:"";
	background: white;
	transform-origin:left center;
	transform:rotate(45deg);
}
.boss_prompt:before{
	width:0.55rem;
	height:0.1rem;
	position:absolute;
	content:"";
	background: white;
	transform-origin:left center;
	transform:rotate(-45deg);
}
.height{
	
	
}
.dj-content{
	font-size: .6rem;
	color: #fff;
	font-family: "微软雅黑";
	width: 90%;
	margin: 0 auto;
}
.dj-xq>span:nth-child(1){
	display: inline-block;
	width: 3.4rem;
	margin-right: .7rem;	
}
.dj-bj{
	height: 1.5rem !important;
	border: 0;
	width: 16%;
	
	float: right;
	border-radius: .2rem;
}
.dj-xq {
	border-bottom: 1px solid #fff;
	height: 2rem;
	padding: .2rem 0 .2rem 0;
	line-height: 1.5rem;
}
.dj-add input{
	width: 6rem;	
	border-radius: .2rem;
	font-size: 0.6rem;
	line-height: 0.6rem;
	padding: 0.15rem 0;
}
.dj-add p{
	margin-top: .5rem;
}
.dj-xq button{
	margin-right: .3rem;
}
.dj-btn{
	margin-left: 5.2rem;
	margin-top: .8rem;
	width:3.5rem !important;
	border: 0;
	border-radius: .2rem;
}
.dj-io{
	color:#000 ;
	width: 3rem;
	height: 1.2rem;
	border: 0;
}
.dj-io option{
	color: #000;
}
button{
	background: #fff;
}
.dj-list{
	margin-top: 1.5rem;
	width: 100%;
	padding-bottom: .5rem;
	border: 1px solid #fff;
}
.dj-a {
	display: inline-block;
	width: 15%;
	height: 100%;
	overflow: hidden;
}
.dj-b {
	display: inline-block;
	width: 27%;
	height: 100%;
	overflow: hidden;
}
.dj-add{
	width: 100%;
	margin-top: .2rem;
	padding-left: 1rem;
	padding: .2rem 0 .2rem 2rem;
}
.tj{
	color: #000;
	width: 3rem;
	border-radius: .2rem;
	height: 1.3rem;
	border: 0;
	margin-top: .5rem;
}
.la{
	margin-left: .6rem;
}
.j{
	margin-top: 1.1rem;
}
.dx{
	
	display: none;
}
.show{
	display: inline-block !important;
}
.hidd{
	display: none;
}
.dj-dx{
	width: 3rem;
	border-radius: .2rem;
	height: 1rem;
	margin-left: .5rem;
}
.djj p{
	margin-top: .5rem;
	margin-left: .5rem;
	
}
.wc{
	margin-top: .5rem;
	margin-left: .5rem;
}

.rund {
	border-radius: 0.2rem;
	height: 1rem;
	font-size: .6rem;
}
.we{
	width: 4rem !important;
}
.tishi{
	width: 11rem;
	height: 5rem;
	background: #fff;
	color: #000;
	text-align: center;
	padding-top: 1rem;
	margin: 0 auto;
	position: absolute;
	top:calc(50% - 5.5rem);
	left: 16%;
}
.zz{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 100vh;
	background:rgba(0,0,0,0.5);
}
.tishi p{
	color: #000;
	
}
.ll{
	text-overflow: inherit;
}
