.boss_prompt {
	width: 0.55rem;
	height: 0.6rem;
	margin-left: 0.53rem;
	position: relative;
	top: 1.3rem;
}

.boss_prompt:after {
	width: 0.55rem;
	height: 0.1rem;
	position: absolute;
	content: "";
	background: white;
	transform-origin: left center;
	transform: rotate(45deg);
}

.boss_prompt:before {
	width: 0.55rem;
	height: 0.1rem;
	position: absolute;
	content: "";
	background: white;
	transform-origin: left center;
	transform: rotate(-45deg);
}

.ly-head {
	height: 2.5rem;
	border-bottom: 1px solid white;
	line-height: 2.5rem;
	padding-left: 1rem;
	font-size: .8rem;
}
.ly-head>h1{
	line-height: 1.5rem;
	text-align: center;
	color: #fff;
	font-size: 1rem;
	display: inline-block;
	width: 80%;
	height: 2rem;
	font-size: .6rem;
}
.ly_xq{
	width: 100%;
	padding-left:3.8rem;
	font-size: .6rem;
	color: #000;
}
.ly_xq input{
	width: 6rem;	
	border-radius: .2rem;
	font-size: 0.6rem;
	line-height: 0.6rem;
	padding: 0.2rem 0;
}
.ly_xq p{
	margin-top: 0.9rem;
}
p.ye input{
	width: 2.5rem;
}
.go{
	color: #fff;
	width: 3rem;
	margin-left:0.6rem;
	border-radius: .2rem;
	height: 1.3rem;
	margin-top: 1.5rem;
	line-height: 0.5rem;
	font-size: .6rem;
}
.end{
	margin-left:1rem;
}
select{
	color: #000;
	width: 2.5rem;
	height: 1rem;
	font-size: .6rem;
}
option{
	color: #000;
}
.zz{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.7);
	font-size: .6rem;
}
.zz>.tan{
	position: absolute;
	top: 33%;
	width: 11rem;
	height: 5rem;
	background: white;
	color: #000;
	text-align: center;
	left: 15%;
	font-size: .6rem;
}
.zz>.tan p{
	color: #000;
	font-size: 0.9rem;
	margin-top: 0.8rem;
	font-size: .6rem;
}
.zz>.tan button{
	margin-top: 0.7rem;
	font-size: .6rem;
}
