*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	color: #fff;
}
.bu_prompt{
	width:0.55rem;
	height:0.6rem;
	margin-left:1rem;
	position:relative;
	top:1.3rem;
}
.bu_prompt:after{
	width:0.55rem;
	height:0.1rem;
	position:absolute;
	content:"";
	background: white;
	transform-origin:left center;
	transform:rotate(45deg);
}
.bu_prompt:before{
	width:0.55rem;
	height:0.1rem;
	position:absolute;
	content:"";
	background: white;
	transform-origin:left center;
	transform:rotate(-45deg);
}
.gtf_ccsq .ccsq_header{
	width:16rem;
	height:2.5rem;
	font-size:0.8rem;
	border-bottom:1px solid white;
	line-height:1.5rem;
	text-align:center;
	color:white;
}
.ccsq_main{
	font-size: .6rem;
	padding: 0 8%;
	margin: 1rem 0 0;
}
.ccsq_main ul li{
	margin-bottom: .9rem;
}
.ccsq_main p{
	margin-bottom: .9rem;
}
.ccsq_main ul li input{
	width:70%;
	border-radius: .2rem;
	text-indent: 5%;
	color: #000;
	font-size: 0.6rem;
	line-height: 0.6rem;
	padding: 0.1rem 0;
}
.ccsq_main ul li textarea{
	width: 70%;
	border-radius: .2rem;
	text-indent: 5%;
	color: #000;
	height: 3.5rem;
}
.ccsq_main ul li span{
	vertical-align: top;
}
.ccsq_main ul li button{
	width: 2.2rem;
	height: 1.2rem;
	margin: .2rem;
}
.ccsq_main ul .but{
	text-align: center;
}
.gtf_ccsq .yc,.gtf_ccsq .kong{
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.5);
	position: absolute;
	top: 0;
}
.gtf_ccsq .yc .yc_box{
	width: 70%;
	height: 5rem;
	background:white;
	position: relative;
	top:30%;
	left: 15%;
	font-size:0.9rem;
	text-align: center;
	line-height: 5rem;
}
.gtf_ccsq .kong .yc_box{
	width: 70%;
	height: 5rem;
	background:white;
	position: relative;
	top:30%;
	left: 15%;
	text-align: center;
	font-size: .6rem;
	line-height: 2.5rem;
}
.yc_box>p:nth-child(1){
	font-size:0.7rem;
}
.gtf_ccsq .yc .yc_box .btn{
	margin: 2%;
}