.srl-bg {
	height: 100vh;
	font-family: "微软雅黑";
	font-size: 0.8rem;
}
.dd{
	display: none;
	}
.srl_top {
	height: 2.5rem;
	line-height: 2.5rem;
	padding: 0 1rem;
	position: relative;
}
.srl_top p {
	display: inline-block;
	width: 1rem;
	height: 1rem;
}
.srl_top .a {
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 2rem;
	color: #fff;
}
.srl-left {
	float: left;
	}
.srl-right {
	float: right;
	}
.picc {
	width:5rem;
	height: 6rem;
	background: white;
	position: absolute;
	right: 1rem;
	top: 1rem;
}
.picc img {
	width: 100%; height: 100%;
	}
.srl_top p img{
	width: 100%;
	height: 100%;
}
.srl-showtop {
	width: 100%;
	background: rgba(0,0,0,0.6);
	box-shadow: 0px 1px 2px 2px #555;
	margin: 0 auto;
	padding: 0.5rem;
	color: #ccc;
	font-size: 0.6rem;
	line-height: 1.5rem;
	position:absolute;
	z-index:-1;
	transition:0.3s;
	opacity: 0;
}
.srl-content {
	width: 100%;
	margin-top: 2rem;
}
.srl-text {

	background: rgba(230,230,250,0.7);
	text-align: center;
	position: absolute;
	border-radius: 5px;
	color: #999;
	box-shadow: 1px 0px 8px 5px white;
}
.srl-content .a {
	width: 4rem;
	height:7rem;
	top: 5rem;
	left: 1rem;
	position:absolute;
}

.srl-content .b {
	width: 4rem;
	height:7rem;
	top: 5rem;
	left: 6rem;
}
.srl-content .c {
	width: 4rem;
	height:7rem;
	top: 5rem;
	left: 11rem;
}
.srl-content .d {
	width: 4rem;
	height:7rem;
	
	top: 14rem;
	left: 20%;
}
.srl-content .e {
	width: 4rem;
	height:7rem;
	
	top: 14rem;
	left: 60%;
}

.srl-showtop button {
	color: #fff;
}
i{
	display:block !important;
	margin-top:1rem ;
    margin-bottom: 1.3rem;
	color: #000000;
	
}
