
.srl-bg {
	height: 100vh;
	font-family: "微软雅黑";
	font-size: 0.8rem;
	/*background: rgba(255,255,255,.3);*/
}
.dd{display: none;}
.srl_top {
	height: 2.5rem;
	line-height: 2.5rem;
	padding: 0 1rem;
	/*border-bottom: 1px solid white;*/
}
.srl_top p {
	display: inline-block;
	width: 1rem;
	height: 1rem;
}
.srl_top .a {
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 2rem;
	color: white;
}
.srl-left {float: left;}
.srl-right {float: right;}
	

.srl_top p img{
	width: 100%;
	height: 100%;
}
.srl-showtop {
	width: 100%;
	height: 8rem;
	/*background: rgba(162,180,186,0.7);*/
	background: rgba(0,0,0,0.6);
	margin: 0 auto;
	padding: 0.5rem;
	color: white;
	font-size: 0.6rem;
	line-height: 1.5rem;
	position:absolute;
	z-index:-1;
	transition:0.3s;
	opacity: 0;
}
.srl-content {
	/*position: relative;*/
	width: 100%;
	margin-top: 2rem;
}
.srl-text {
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
	/*transform: skew(-30deg);*/
	background: rgba(0,0,0,0.6);
	text-align: center;
	position: absolute;
	border-radius: 50%;
	color: white;
}
.srl-content .a {
	top: 4rem;
	left: 35%;
}
.srl-content .b {
	width: 3.5rem;
	height: 3.5rem;
	line-height: 3.5rem;
	top: 8.3rem;
	left: 20%;
}
.srl-content .c {
	width: 4rem;
	height: 4rem;
	line-height: 4rem;
	top: 9rem;
	left: 60%;
}
.srl-content .d {
	width: 4rem;
	height: 4rem;
	line-height: 4rem;
	top: 13rem;
	left: 15%;
}
.srl-content .e {
	top: 14rem;
	left: 50%;
}

.srl-showtop button {
	color: white;
}
