<<<<<<< HEAD
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	color: #fff;
}
.gtf_tx{
	
}
.gtf_tx .tx_header{
	font-size: .8rem;
	padding: 2% 5%;
	border-bottom: .1rem solid #E0E0E0;
}
.gtf_tx .tx_header span{
	display: inline-block;
}
.gtf_tx .tx_header span a{
	color: #fff;
}
.gtf_tx .tx_header .tx{
	margin-left: 35%;
	
}
.tx_main{
	font-size: .6rem;
	padding: 0 8%;
	margin: 1rem 0 0;
}
.tx_main ul{
	
}
.tx_main ul li{
	margin-bottom: .7rem;
}
.tx_main p{
	margin-bottom: .7rem;
}
.tx_main ul li input{
	width:11rem;
	border-radius: .2rem;
	text-indent: 5%;
	color: #000;
}
.tx_main ul li textarea{
	width: 11rem;
	border-radius: .2rem;
	text-indent: 5%;
	color: #000;
}
.tx_main ul li span{
	vertical-align: top;
}
.tx_main ul li button{
	width: 2.2rem;
	height: 1.2rem;
	margin: .2rem;
}
.tx_main ul .but{
	text-align: center;
}
=======
body{
	font-family:微软雅黑;
}
.staff_wrapper{
	width:16rem;
	height:100vh;
	background: url(../images/timg.jpg) no-repeat;
	background-size:cover; 	
}
.staff_header{
	width:16rem;
	height:2.5rem;
	font-size:0.8rem;
	border-bottom:1px solid white;
	line-height:1.5rem;
	text-align:center;
	color:white;
}
.staff_prompt{
	width:0.55rem;
	height:0.6rem;
	margin-left:0.53rem;
	position:relative;
	top:1.3rem;
}
.staff_prompt:after{
	width:0.55rem;
	height:0.1rem;
	position:absolute;
	content:"";
	background: white;
	transform-origin:left center;
	transform:rotate(45deg);
}
.staff_prompt:before{
	width:0.55rem;
	height:0.1rem;
	position:absolute;
	content:"";
	background: white;
	transform-origin:left center;
	transform:rotate(-45deg);
}
.leave_content{
	color:white;
	margin-left:0.5rem;
	margin-right:0.5rem;
	height:auto;
	margin-top:1.5rem;
}
.leave_content input{
	color:black;
}
.leave_content textarea{
	color:black;
}
.leave_content>p{
	margin-top:0.5rem;
}
.leave_content>p:last-child{
	margin-top:1.5rem;
}
.leave_btn input:nth-child(1){
	margin-left:4rem;
}
.leave_qianjia span{
	display:block;
	margin-left:3rem;
}
.leave_qianjia span>input{
	margin-left:0.5rem;
	display:inline-block;
}
.leave_qianjia span:nth-child(2){
	margin-top:0.5rem;
}
.leave_btn input:nth-child(2){
	margin-left:4rem;
}
.leave_btn>input{
	color:white;
}
>>>>>>> origin/master
