body{
	font-family:微软雅黑 ;
	}
.boss_wrapper{
	width:16rem;
	height:100vh;
	background-size:cover; 	
}
.zzc{
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index:100;
	background: rgba(0,0,0,0.7);
}
.zzc>.zzc_l{
	position: absolute;
	left: 15%;
	top: 33%;
	width: 11rem;
	height: 5rem;
	background: white;
	color: #000;
	text-align: center;
}
.zzc>.zzc_l span{
	color: #000;
	display:block;
	font-size: 0.9rem;
	margin-top: 0.8rem;
}
.zzc>.zzc_l button{
	margin-top: 0.7rem;	
}
.boss_header{
	width:16rem;
	height:2.5rem;
	font-size:0.8rem;
	border-bottom:1px solid white;
	line-height:2.5rem;
	text-align:center;
	color:white;
	position:fixed;
	left:0px;
	top:0px;
}
.boss_prompt{
	width:0.55rem;
	height:0.6rem;
	margin-left:0.53rem;
	position:relative;
	top:1.3rem;
}
.boss_prompt:after{
	width:0.55rem;
	height:0.1rem;
	position:absolute;
	content:"";
	background: white;
	transform-origin:left center;
	transform:rotate(45deg);
}
.boss_prompt:before{
	width:0.55rem;
	height:0.1rem;
	position:absolute;
	content:"";
	background: white;
	transform-origin:left center;
	transform:rotate(-45deg);
}
.leave_content{
	position:absolute;
	left:0px;
	top:2.5rem;
	color:white;
	margin-left:0.7rem;
	margin-right:0.5rem;
	height:auto;
	font-size:0.6rem;
}
.leave_content input{
	color:black;
	height: 1.4rem;
}
.leave_content textarea{
	color:black;
	height: 5.2rem;
	width: 7rem;
	margin-left:0.1rem;
}
.leave_content>p{
	margin-top:0.8rem;
	margin-left:2.1rem;
}
.leave_content>p:last-child{
	margin-top:1.5rem;
}
.leave_btn input:nth-child(1){
	margin-left:1.5rem;
}
.leave_qianjia span{
	display:block;
	margin-top:0.4rem;
	margin-left:3.4rem;
}
.leave_qianjia span>input{
	margin-left:0.5rem;
	display:inline-block;
}
.leave_qianjia span:nth-child(2){
	margin-top:.6rem;
}
.leave_btn input:nth-child(2){
	margin-left:2rem;
}
.leave_btn>input{
	color:#000;
}
.leave_a {
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	background: rgba(247,242,242,0.5);
	border-radius: 50%;
	margin-right: 0.2rem;
	}
.liyou{
}
.sq{
	float: left;
}
.qj{
	width: 7rem;
    margin-left: 0.2rem;
    }
.qjlb{
	width: 7rem;
	font-size:0.6rem;
	line-height:0.6rem;
	padding:.6rem 0;
}
.kong{
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.7);
	position: absolute;
	top:0;
}
.yc_box{
	position:absolute;
	left:15%;
	top:30%;
	width: 70%;
	height: 5rem;
	background:white;
	text-align: center;
	line-height: 5rem;
}
.end {
	display: inline-block;
	width: 65% !important;
	margin-left: 0rem;
	}
.state{
	display: inline-block;
	width: 65% !important;
	margin-left: 0rem;
	}