body {
	background: url(../images/timg.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
	font-size: 1rem;
}
.bg {
	height: 100vh;
	padding: 32% 10% 0;
	margin: 0 auto;
}
.srl {
	box-shadow: 0 0 10px 1px white;	
}
.srl-sum {
	text-align: center;
	margin-top: 2rem;
}
.srl-show {
	width: 90%;
	height: 8rem;
	background: rgba(0,0,0,0.9);
	position: absolute;
	top: 20%;
	left: 5%;
}
.srl-show p {
	margin: 2rem;
	color: white; 
	display: inline-block;
}
.srl-tu{
    width:1.8rem;
    height:1.5rem;
    position:relative;
    top:-1rem;
    right: 0rem;
    float: right;
}
.srl-tu:after{
    width:1rem;
    height:0.1rem;
    position:absolute;
    top: 0.3rem;
    left: 0.5rem;
    content:"";
    background: white;
    transform-origin:left center;
    transform:rotate(45deg);
}
.srl-tu:before{
    width:1rem;
    height:0.1rem;
    position:absolute;
    top: 1rem;
    left: 0.5rem;
    content:"";
    background: white;
    transform-origin:left center;
    transform:rotate(-45deg);
}