body{
	font-family:微软雅黑;
}
.boss_wrapper{
	width:16rem;
	height:100vh;
	background: url(../images/bj.jpg.jpg) no-repeat;
	background-size:cover; 	
}
.boss_header{
	width:16rem;
	height:2.5rem;
	font-size:0.8rem;
	border-bottom:1px solid white;
	line-height:2.5rem;
	text-align:center;
	color:white;
	position:fixed;
	left:0px;
	top:0px;
}
.boss_prompt{
	width:0.55rem;
	height:0.6rem;
	margin-left:0.53rem;
	position:relative;
	top:1.3rem;
}
.boss_prompt:after{
	width:0.55rem;
	height:0.1rem;
	position:absolute;
	content:"";
	background: white;
	transform-origin:left center;
	transform:rotate(45deg);
}
.boss_prompt:before{
	width:0.55rem;
	height:0.1rem;
	position:absolute;
	content:"";
	background: white;
	transform-origin:left center;
	transform:rotate(-45deg);
}
.staff_staff{
	width:calc(100% - 1rem);
	margin-left:0.5rem;
	position:absolute;
	top:2.5rem;
	height:7rem;
	margin-top:1rem;
	font-size:0.6rem;
	border:1px solid white;
	color:white;
}
.staff_staff>p:nth-child(1){
	width:3rem;
	height:3rem;
	margin-left:6rem;
	margin-top:1rem;
}
.staff_staff>p:nth-child(1) img{
	width:100%;
	height:100%;
}
.staff_staff>p:nth-child(2){
	width:100%;
	height:1rem;
	color:white;
	margin-top:1rem;
	font-size:0.6rem;
	line-height:1rem;
	text-align:center;
}
