body{
	font-family:微软雅黑;
}
.staff_wrapper{
	width:16rem;
	height:100vh;
	background: url(../images/timg.jpg) no-repeat;
	background-size:cover; 	
}
.staff_content{
	width:100%;
	height:calc(100vh - 5rem);
	overflow:auto;
	position:absolute;
	top:2.5rem;
	z-index:1;
}
.staff_header{
	width:16rem;
	height:2.5rem;
	font-size:0.8rem;
	border-bottom:1px solid white;
	line-height:1.5rem;
	text-align:center;
	color:white;
	position:fixed;
	left:0px;
	top:0px;
	z-index:99;
}
.staff_prompt{
	width:0.55rem;
	height:0.6rem;
	margin-left:0.53rem;
	position:relative;
	top:1.3rem;
}
.staff_prompt:after{
	width:0.55rem;
	height:0.1rem;
	position:absolute;
	content:"";
	background: white;
	transform-origin:left center;
	transform:rotate(45deg);
}
.staff_prompt:before{
	width:0.55rem;
	height:0.1rem;
	position:absolute;
	content:"";
	background: white;
	transform-origin:left center;
	transform:rotate(-45deg);
}
.staff_prompt1{
    width:2rem;
    height:2.5rem;
    position:relative;
    left:13rem;
    font-size:0.6rem;
    top:-1.9rem;
    line-height:2.5rem;
}
.staff_staff{
	width:calc(100% - 1rem);
	margin-left:0.5rem;
	height:7rem;
	font-size:0.6rem;
	border:1px solid white;
	color:white;
	margin-top:1rem;
    position:relative;
}
.staff_staff>p:nth-child(1){
	position:absolute;
	top:0.5rem;
    color:white;
    font-size:0.6rem;
}
.staff_staff>p:nth-child(2){
	width:3rem;
	height:3rem;
	margin-left:6rem;
	margin-top:1rem;
}
.staff_staff>p:nth-child(2) img{
	width:100%;
	height:100%;
}
.staff_staff>p:nth-child(3){
	width:100%;
	height:1rem;
	color:white;
	margin-top:1rem;
	font-size:0.6rem;
	line-height:1rem;
	text-align:center;
}
