*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	color: #fff;
}
.gtf_tx{
	
}
.gtf_tx .tx_header{
	font-size: .8rem;
	padding:0 5%;
	height: 2.5rem;
	line-height: 2.5rem;
	border-bottom: .1rem solid #E0E0E0;
}
.gtf_tx .tx_header span{
	display: inline-block;
}
.gtf_tx .tx_header span a{
	color: #fff;
	text-decoration: none;
	font-size: 1rem;
}
.gtf_tx .tx_header .tx{
	margin-left: 35%;
	
}
.tx_main{
	font-size: .6rem;
	padding: 0 8%;
	margin: 1rem 0 0;
}
.tx_main ul{
	
}
.tx_main ul li{
	margin-bottom: .7rem;
}
.tx_main p{
	margin-bottom: .7rem;
}
.tx_main ul li input{
	width:11rem;
	border-radius: .2rem;
	text-indent: 5%;
	color: #000;
}
.tx_main ul li textarea{
	width: 11rem;
	border-radius: .2rem;
	height: 5rem;
	text-indent: 5%;
	color: #000;
}
.tx_main ul li span{
	vertical-align: top;
}
.tx_main ul li button{
	width: 2.2rem;
	height: 1.2rem;
	margin: .2rem;
}
.tx_main ul .but{
	text-align: center;
}
.gtf_tx .yc{
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.6);
	position: absolute;
	top: 0;
}
.gtf_tx .yc .yc_box{
	width: 70%;
	height: 5rem;
	background: #000088;
	position: relative;
	top: 5rem;
	left: 15%;
	text-align: center;
	line-height: 5rem;
}
.gtf_tx .yc .yc_box .btn{
	margin: 2%;
}