*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	color: #fff;
}
.gtf_tx .tx_header{
	width:16rem;
	height:2.5rem;
	font-size:0.8rem;
	border-bottom:1px solid white;
	line-height:1.5rem;
	text-align:center;
	color:white;
}
.va_prompt{
	width:0.55rem;
	height:0.6rem;
	margin-left:0.53rem;
	position:relative;
	top:1.3rem;
}
.va_prompt:after{
	width:0.55rem;
	height:0.1rem;
	position:absolute;
	content:"";
	background: white;
	transform-origin:left center;
	transform:rotate(45deg);
}
.va_prompt:before{
	width:0.55rem;
	height:0.1rem;
	position:absolute;
	content:"";
	background: white;
	transform-origin:left center;
	transform:rotate(-45deg);
}
.gtf_tx .tx_header .tx{
	margin-left: 35%;
}
.tx_main{
	font-size: .6rem;
	padding: 0 8%;
	margin: 1rem 0 0;
}
.tx_main ul{
	
}
.tx_main ul li{
	margin-bottom: .7rem;
}
.tx_main p{
	margin-bottom: .7rem;
}
.tx_main ul li input{
	width:70%;
	border-radius: .2rem;
	text-indent: 5%;
	color: #000;
}
.tx_main ul li textarea{
	width: 70%;
	border-radius: .2rem;
	height: 5rem;
	text-indent: 5%;
	color: #000;
}
.tx_main ul li span{
	vertical-align: top;
}
.tx_main ul li button{
	width: 2.4rem;
	height: 1.4rem;
	margin: .2rem;
	font-size: .6rem;
}
.tx_main ul .but{
	margin-top:1.5rem;
	margin-left:2.7rem;
}
.but>button:nth-child(2){
	margin-left:3rem;
}
.gtf_tx .yc,.gtf_tx .kong{
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.7);
	position: absolute;
	top:0;
}
.gtf_tx .yc .yc_box{
	position:absolute;
	left:15%;
	top:30%;
	width: 70%;
	height: 5rem;
	background:white;
	text-align: center;
	line-height: 5rem;
}
.gtf_tx .kong .yc_box{
	width: 70%;
	height: 5rem;
	background:white;
	position: relative;
	top:30%;
	left:15%;
	text-align: center;
	font-size: .6rem;
	line-height: 2.5rem;
}
.yc_box>p{
	font-size:0.7rem;
	color:black;
}
