<div ng-controller="addCtrl" >
	<div class="dj-zzc">
		<div class="dj_top">
		<div class="boss_prompt"></div>
		<p>添加员工信息</p>
	</div>
	</div>
	<div class="dj-content">
		<div class="dj-list">
			<p class="dj-xq">
				<span>姓名: <span>杜江</span></span>
				<span>职位: <span>web开发</span></span>
				<button class="dj-bj btn-primary btn-sm">修改</button>
				<button class="dj-bj btn-primary btn-sm">删除</button>
			</p>
			<p>
				<button class="dj-btn btn-primary btn-sm" ng-click="xs()" >添加员工</button>
			</p>
			
		</div>
		<div class="dj-add" ng-show="x">
			<p>姓&#x3000;名 : <input type="text" ng-module="name"/></p>
			<p>职&#x3000;位 : <input type="text" ng-module="zhiwei"/></p>
			<p>账&#x3000;号 : <input type="text" ng-module="user"/></p>
			<p>密&#x3000;码 : <input type="password" ng-module="pass"/></p>
			<p>手机号 : <input type="tel" ng-module="tel"/></p>
			<p>地&#x3000;点 : <select name="" class="dj-io">
				<option value="beijing">北京</option>
				<option value="shanghai">上海</option>
				<option value="shanxi">山西</option>
			</select></p>
			
			<button class="j btn btn-primary btn-sm"ng-click="tj()">提交</button>
			<button class="j la btn btn-primary btn-sm" ng-click="qx()">取消</button>
		</div>
	</div>
</div>
