<div ng-controller="applyforCtrl">
	<div class="ly-head">
		<div class="boss_prompt"></div>
		<h1>报&nbsp;销</h1>
	</div>
	<div class="ly_xq">
			<p>姓&#X3000;名 : <input type="text"  /></p>
			<p>部&#X3000;门 : <input type="text" /></p>
			<p>项&#X3000;目 : <input type="text" /></p>
			<p>日&#X3000;期 : <input type="text" /></p>
			<p>金&#X3000;额 : <input type="text" /></p>
			<p class="ye">发票张数:<input type="text" /></p>
			<p>报销日期:<input type="text" /></p>
			<button class="go btn btn-primary btn-sm">提交</button>
			<button class="go end btn btn-primary btn-sm">取消</button>
	</div>
</div>
