<div class="gtf_ccsq" ng-controller="businesstripCtrl">
	<div class="ccsq_header">
		<span><a href="javescript:;"><</a></span>
		<span class="ccsq">出差申请</span>
	</div>
	<form action="">
		<div class="ccsq_main">
			<p>公司</p><p>姓名：</p>
			<ul>
				<li><span>手机：</span><input type="text" /></li>
				<li><span>日期：</span><input type="text" /></li>
				<li><span>报告：</span><textarea name="" rows="" cols=""></textarea></li>
				<li class="but"><button class="btn btn-primary btn-sm"
	>提交</button><button class="btn btn-primary btn-sm">取消</button></li>
			</ul>
			
		</div>
	</form>
</div>
