<div class="gtf_ccsq" ng-controller="businesstripCtrl">
	<div class="ccsq_header">
		<div class="bu_prompt" ng-click="sqqx()"></div>
		出差申请
	</div>
	<form action="">
		<div class="ccsq_main">
			<p>北京XXX有限公司</p><p>姓&#x3000;名：<span>{{arr_cssq.xingming}}</span></p>
			<ul>
				<li><span>手&#x3000;机：{{arr_cssq.tel}}</span></li>
				<li><span>开&#x3000;始：</span><input type="date" ng-model="start" name="stars" class="state"/></li>
				<li><span>结&#x3000;束：</span><input type="date" ng-model="end" name="ends" class="end" ng-change="srb()"/></li>
				<li>
				<li><span>报&#x3000;告：</span><textarea ng-model="text" name="area" ></textarea></li>
				<li class="but"><button type="button" class="btn btn btn-default" ng-click="sq_tj()">提交<tton><button type="button" class="btn btn btn-default" ng-click="sq_qx()">取消<botton></li>
			</ul>
		</div>
		<div class="yc" ng-show="yc">
			<div class="yc_box">
				<button type="button" class="btn btn btn-default" ng-click="yc_qd()">确定<botton><button type="button" class="btn btn btn-default" ng-click="yc_qx()">取消<tton>
			</div>
		</div>
		<div class="kong" ng-show="kong_yc">
			<div class="yc_box">
				<p>请检查您的信息是否填写完整</p>
				<button type="button" class="btn btn btn-default" ng-click="kong_qx()">确定<button>
			</div>
		</div>
		<div class="kong" ng-show="kong_yc">
			<div class="yc_box">
				<p>请核实您的信息</p>
				<button type="button" class="btn btn btn-default" ng-click="kong_qx()">确定</button> 
			</div>
		</div>
	</form>
	<div class="kong" ng-show="kong_yc">
			<div class="yc_box">
				<p>{{text}}</p>
				<button type="button" class="btn btn btn-default" ng-click="kong_qx()">确定</button>
			</div>
	</div>
</div>
