<div ng-controller="leaveCtrl" class="boss_wrapper">
	<div class="zzc" ng-show="zzc_show">
		<div class="zzc_l">
			<span>请输入内容</span>
			<button ng-click="qr()" class="btn btn btn-default">确认</button>		
		</div>
	</div>
	<div class="pj_head">
		<div class="jiantou" ng-click="jiantou()"></div>
		请假
	</div>
	<div class="leave_content">
		<p>姓&#x3000;&#x3000;名：{{arr.xingming}}
			<p>
				<p>部&#x3000;&#x3000;门：{{arr.bumen}}
					<p>
						<p>岗&#x3000;&#x3000;位：{{arr.zhiwei}}
							<p>
								<p class="leave_qianjia">请假类别： <input type="text" ng-model="text1" name="text1" class="qjlb">
									<span>
		    		   <i class="leave_a"></i>事假
		    	       <i class="leave_a"></i>病假
		    	       <i class="leave_a"></i>丧假
		    		</span>
									<span>
		    	       <i class="leave_a"></i>婚假
		    	       <i class="leave_a"></i>工伤
		    	       <i class="leave_a"></i>其他
		    	       </span>
								</p>
								<p><span class="sq">请假事由：</span><textarea ng-model="liyou" class="liyou"></textarea></p>
								<p>起始时间：<input type="date" name="date" ng-model="shijian1" class="qj state"></p>
								<p>截止时间：<input type="date" name="date" ng-model="shijian2" class="qj end " ng-change="srb()"></p>
								<p class="leave_btn">
									<input type="button" class="btn btn btn-default" value="提交" ng-click="submit()" class="tjo">
									<input type="button" class="btn btn btn-default" value="取消" ng-click="qx()"></p>
	</div>
	
	<div class="kong" ng-show="kong_yc">
			<div class="yc_box">
				<p>{{text}}</p>
				<button type="button" class="btn btn btn-default" ng-click="kong_qx()">确定</button>
			</div>
	</div>
	
</div>