
	<div ng-controller="loginCtrl">
	<form class="bg"> 
		<div class="form-group">
	    <label for="exampleInputEmail1">Username</label><br>
	    <input type="text" class="form-control srl" ng-model="username" ng-blur="user()">
	  	</div>
		<div class="form-group">
	    <label for="exampleInputEmail1">Password</label><br>
	    <input type="password" class="form-control srl" id="password" ng-model="password" ng-blur="tel()">
	  	</div>
	  	<div class="srl-sum">
		<input type="submit" value="submit" class="btn btn-info btn-default btn-lg btn-lg btn-block" ng-click="submit()"/>
		</div>
	</form>
		<div class="srl-show" ng-show="yz">
			<p>{{nr}}</p>
			<p class="srl-tu" ng-click="close()"></p>
		</div>
		
		
		
</div>

