<div ng-controller="transferCtrl" class="pj-bj">
	<div class="pj_head">
		职位调动
	</div>
	<div class="pj_center">
		<p>姓&#X3000;&nbsp;&nbsp;&nbsp;名：<span></span></p>
		<p>现住部门：<span></span></p>
		<p>现在岗位：<span></span></p>
		<p>调入地点：
			<select name="" ng-model="didian">
				<option value="北京">北京</option>
				<option value="上海">上海</option>
				<option value="广州">广州</option>
			</select>
		</p>
		<p>调入部门：
			<select name="" ng-model="bumen">
				<option value="一部">一部</option>
				<option value="二部">二部</option>
				<option value="三部">三部</option>
			</select>
		</p>
		<p>调入岗位：
			<select name="" ng-model="gangwei">
				<option value="web">web</option>
				<option value="ui">ui</option>
				<option value="电商">电商</option>
			</select>
		</p>
		<p class="pp"><span class="sq">申请调入</span><textarea name="" rows="" cols="" class="wenben" ng-model="btn"></textarea></p>
		<input type="button" value="取消" class="btn btn-primary btn-sm"
 />
		<input type="button" value="申请" class="btn btn-primary btn-sm" ng-click="shenqing()"
 />

	</div>
	

</div>