<div ng-controller="transferCtrl" class="pj-bj">
	<div class="pj_head">
		职位调动
	</div>
	<div class="pj_center">
		<p>姓&#X3000;&nbsp;&nbsp;&nbsp;名：<span></span></p>
		<p>现住部门：<span></span></p>
		<p>现在岗位：<span></span></p>
		<p>调入地点：
			<select name="">
				<option value="">ddd</option>
			</select>
		</p>
		<p>调入部门：
			<select name="">
				<option value="">ddd</option>
			</select>
		</p>
		<p>调入岗位：
			<select name="">
				<option value="">ddd</option>
			</select>
		</p>
		<p class="pp"><span class="sq">申请调入</span><textarea name="" rows="" cols="" class="wenben"></textarea></p>
		<input type="button" value="取消" class="btn btn-primary btn-sm"
 />
		<input type="button" value="申请" class="btn btn-primary btn-sm"
 />

	</div>
	

</div>