<div class="gtf_tx" ng-controller="vacationCtrl">
	<div class="pj_head">
		<div class="jiantou" ng-click="jiantou()"></div>
		调休
	</div>
	<div class="tx_main">
		<p>申请人：{{arr_tx.xingming}}</p>
		<p>职&#x3000;位：{{arr_tx.zhiwei}}</p>
		<ul>
			<li><span>原&#x3000;因：</span><textarea name="" rows="" cols="" ng-model="yy"></textarea></li>
			<li><span>开&#x3000;始：</span><input type="date" / ng-model="starts"></li>
			<li><span>结&#x3000;束：</span><input type="date" / ng-model="dates"></li>
			<li class="but"><button type="button" class="btn btn-primary btn-sm" ng-click="tx_tj()">提交</button><button type="button" class="btn btn-primary btn-sm" ng-click="tx_qx()">取消</button></li> 
		</ul>
	</div>
	<div class="yc" ng-show="yc">
			<div class="yc_box">
				<button type="button" class="btn btn-primary btn-sm" ng-click="yc_qd()">确定</button><button type="button" class="btn btn-primary btn-sm" ng-click="yc_qx()">取消</button>
			</div>
		</div>
</div>